<ScrollView>
  <FlexboxLayout flexDirection="column" alignItems="center">
    <Image src="~/account.png" width="200px" style="margin-top: 24; margin-bottom: 12;" [nsRouterLink]="['/account']"></Image>
    <Label class="h3" style="font-weight: bold;" color="#000" text="Riwayat Berat Badan"></Label>
    <ng-container *ngFor="let item of history">
      <StackLayout backgroundColor="#ffffff" style="padding-left: 15; padding-right: 15; width: 100%; border-width: 0 0 1 0; border-color: black;">
        <Label class="h3" style="font-weight: bold;" color="#000" [text]="item.berat + ' kg'" textWrap="true"></Label>
        <Label class="h4" [text]="convertDate(item.timestamp)"></Label>
        <!-- <FlexboxLayout>
          <Label class="h5" style="font-weight: bold;" text="Kalori: 300 kcal"></Label>
        </FlexboxLayout> -->
      </StackLayout>
    </ng-container>
    <!-- <StackLayout backgroundColor="#ffffff" style="padding-left: 15; padding-right: 15; width: 100%; border-width: 0 0 1 0; border-color: black;">
      <Label class="h3" style="font-weight: bold;" color="#000" text="75 kg" textWrap="true"></Label>
      <Label class="h4" text="07:00, 12 April 2022"></Label>
      <FlexboxLayout>
        <Label class="h5" style="font-weight: bold;" text="Kalori: 300 kcal"></Label>
      </FlexboxLayout>
    </StackLayout>
    <StackLayout backgroundColor="#ffffff" style="padding-left: 15; padding-right: 15; width: 100%; border-width: 0 0 1 0; border-color: black;">
      <Label class="h3" style="font-weight: bold;" color="#000" text="75 kg" textWrap="true"></Label>
      <Label class="h4" text="07:00, 12 April 2022"></Label>
      <FlexboxLayout>
        <Label class="h5" style="font-weight: bold;" text="Kalori: 300 kcal"></Label>
      </FlexboxLayout>
    </StackLayout>
    <StackLayout backgroundColor="#ffffff" style="padding-left: 15; padding-right: 15; width: 100%; border-width: 0 0 1 0; border-color: black;">
      <Label class="h3" style="font-weight: bold;" color="#000" text="75 kg" textWrap="true"></Label>
      <Label class="h4" text="07:00, 12 April 2022"></Label>
      <FlexboxLayout>
        <Label class="h5" style="font-weight: bold;" text="Kalori: 300 kcal"></Label>
      </FlexboxLayout>
    </StackLayout> -->
  </FlexboxLayout>
</ScrollView>